@font-face {
  font-family: 'Chalk';
  src: url('../fonts/KGTangledUpInYou.ttf') format('truetype');
}

@font-face {
  font-family: 'Sketch';
  src: url('../fonts/KGSecondChancesSketch.ttf') format('truetype');
}

@font-face {
  font-family: 'Handlee';
  src: url('../fonts/Handlee-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sister';
  src: url('../fonts/LoveYaLikeASister.ttf') format('truetype');
}
